<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ORMB Test Run" parallel ="tests" >
  <!--  test name="ORMB FireFoxTest">
  <parameter name = "browser" value = "FireFox" />
    <classes>
      <class name="vixxo.ORMBTest.ExecuteTest_FireFox"> 
         <methods> 
             <include name="setup"></include>
             <include name = "firefoxlogin"></include>
         </methods> 
      </class>
    </classes>
  </test> -->
  <test name="ORMB ChromeTest">
  <parameter name = "browser" value = "Chrome" />
    <classes>
      <class name="vixxo.ORMBTest.OrmbExecuteTest"> 
         <methods> 
             <!--  include name="setup"></include> 
             <include name = "Ormblogin"></include> -->
         </methods> 
      </class>
    </classes>
  </test>
</suite>